<!-- Created by L.H.S on 2017/10/18. -->

<div class="language_ad_div">
    <img src="theme/source/cooperation-bg.png">
</div>
<div style="height: 200px;"></div>

<!-- 中间块 -->
<div>
    <div class="language_carousel">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.img}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>{{slide.title}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lang_news_div">
        <div class="each_news" ng-repeat="item in newsList" ng-click="getNew(item.id)">
            <i class="glyphicon glyphicon-menu-right"></i>
            {{item.title}}
        </div>

        <div class="more_news">
            更多资讯
            <i class="glyphicon glyphicon-menu-right"></i>
            <i class="glyphicon glyphicon-menu-right"></i>
        </div>
    </div>
</div>

<!-- 高中合作办学方案 -->
<!-- 硬性条件 -->
<div class="board coop_div">
    <!-- title -->
    <div class="board_title">
        <span class="title_text">
            高中合作办学方案
        </span>
        <hr>
    </div>

    <div class="border_body card">
        <!-- 页签 -->
        <div class="factor_tab_container blue">
            <div class="factor_tab tab_5" ng-repeat="tab in highTab track by $index"
                 ng-class="{no_border: $index==1, active: tab.show}" ng-click="changeTab(tab, 0)">
                {{tab.subclassification}}
            </div>
        </div>
        <!-- 卡片 -->
        <div class="methods_div">
            <div class="pro_each_item" ng-repeat="item in highList track by $index" ng-click="getDetail(item)">
                <img ng-src="{{'upload/images/' + item.thumbnail}}" alt="图片加载错误">
                <div class="title">【{{item.title}}】</div>
                <div class="info">{{item.synopsis}}</div>
            </div>
        </div>
        <!-- 分页 -->
        <div class="pagination_div">
            <ul uib-pagination total-items="totalItems_high" ng-model="currentPage_high" ng-change="pageChanged_high()"></ul>
        </div>
        <br style="clear: both">
    </div>
</div>

<!-- 职业学校 -->
<div class="board coop_div">
    <!-- title -->
    <div class="board_title">
        <span class="title_text">
            职业学院办学方案
        </span>
        <hr>
    </div>

    <div class="border_body card">
        <!-- 页签 -->
        <div class="factor_tab_container blue">
            <div class="factor_tab tab_5" ng-repeat="tab in careerTab track by $index"
                 ng-class="{no_border: $index==1, active: tab.show}" ng-click="changeTab(tab, 1)">
                {{tab.subclassification}}
            </div>
        </div>
        <!-- 卡片 -->
        <div class="methods_div">
            <div class="pro_each_item" ng-repeat="item in careerList track by $index" ng-click="getDetail(item)">
                <img ng-src="{{'upload/images/' + item.thumbnail}}" alt="图片加载错误">
                <div class="title">【{{item.title}}】</div>
                <div class="info">{{item.synopsis}}</div>
            </div>
        </div>
        <!-- 分页 -->
        <div class="pagination_div">
            <ul uib-pagination total-items="totalItems_career" ng-model="currentPage_career" ng-change="pageChanged_career()"></ul>
        </div>
        <br style="clear: both">
    </div>
</div>

<!-- 大学 -->
<div class="board coop_div">
    <!-- title -->
    <div class="board_title">
        <span class="title_text">
            大学合作办学方案
        </span>
        <hr>
    </div>

    <div class="border_body card">
        <!-- 页签 -->
        <div class="factor_tab_container blue">
            <div class="factor_tab tab_5" ng-repeat="tab in collegeTab track by $index"
                 ng-class="{no_border: $index==1, active: tab.show}" ng-click="changeTab(tab, 2)">
                {{tab.subclassification}}
            </div>
        </div>
        <!-- 卡片 -->
        <div class="methods_div">
            <div class="pro_each_item" ng-repeat="item in colleList track by $index" ng-click="getDetail(item)">
                <img ng-src="{{'upload/images/' + item.thumbnail}}" alt="图片加载错误">
                <div class="title">【{{item.title}}】</div>
                <div class="info">{{item.synopsis}}</div>
            </div>
        </div>
        <!-- 分页 -->
        <div class="pagination_div">
            <ul uib-pagination total-items="totalItems_college" ng-model="currentPage_college" ng-change="pageChanged_college()"></ul>
        </div>
        <br style="clear: both">
    </div>
</div>