<!-- Created by L.H.S on 2017/10/18. -->

<!-- 轮播图 -->
<div class="carousel_div home_carousel">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.img}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.text}}</p>
                <button>在线咨询</button>
            </div>
        </div>
    </div>
</div>
<!-- 占位符（满屏采用absolute布局） -->
<div style="height: 600px;"></div>

<!-- 第二块 -->
<div class="main_body">
    <div class="each_block">
        <div class="img_div">
            <img src="theme/img/bulb.svg">
        </div>

        <div style="border-right: 1px solid #dfdfdf">
            <div class="title">成功案例</div>
            <div class="info">
                <p>成功帮助<span class="blue">1000+</span>学子获得满意录取，</p>
                <p><span class="blue">13</span>年申请和服务经验，</p>
                <p><span class="blue">100%</span>服务满意度。</p>
            </div>
        </div>

        <!--<div class="get_more">-->
            <!--<a href="">了解更多<i class="glyphicon glyphicon-menu-right"></i></a>-->
        <!--</div>-->
    </div>
    <div class="each_block">
        <div class="img_div">
            <img src="theme/img/cube.svg">
        </div>

        <div style="border-right: 1px solid #dfdfdf">
            <div class="title">专业团队</div>
            <div class="info">
                <p><span class="blue">100%</span>世界名校文书团队，</p>
                <p><span class="blue">1对1</span>个性化资深服务顾问。</p>
            </div>
        </div>

        <!--<div class="get_more">-->
            <!--<a href="">了解更多<i class="glyphicon glyphicon-menu-right"></i></a>-->
        <!--</div>-->
    </div>
    <div class="each_block">
        <div class="img_div">
            <img src="theme/img/service.svg">
        </div>

        <div>
            <div class="title">服务企业</div>
            <div class="info">
                <p>成功服务过国内外<span class="blue">300+</span>所高校，</p>
                <p>国内知名企业服务商，</p>
                <p>搭建国际教育服务平台</p>
            </div>
        </div>

        <!--<div class="get_more">-->
            <!--<a href="">了解更多<i class="glyphicon glyphicon-menu-right"></i></a>-->
        <!--</div>-->
    </div>
</div>

<!-- 第三块 -->
<div class="carousel_div home_carousel third_div">
    <div class="title">
        覆盖<span class="blue">30</span>个国家地区<span class="blue">2000+</span>所大学和学院的<span class="blue">10000+</span>真实成功案例
    </div>

    <!-- 中间块 -->
    <div class="main_body row">
        <!-- 左侧 -->
        <div class="col-md-6" style="width: 50%; display: inline-block">
            <div class="board card">
                <!-- 页签 -->
                <div class="factor_tab_container blue">
                    <div class="factor_tab tab_5" ng-repeat="tab in countryTab track by $index"
                         ng-class="{no_border: $index==3, active: tab.show}" ng-click="changeTab(tab, 0)">
                        {{tab.title}}
                    </div>
                </div>

                <!-- 主体部分 -->
                <div ng-repeat="eachCountry in countryTab">
                    <div class="home_success" ng-show="eachCountry.show">
                        <div class="each_success" ng-repeat="item in eachCountry.cases" ng-click="getSucDetail(item.id)">
                            <div class="circle_div"></div>
                            <!-- 简介 -->
                            <div>
                                语言成绩：<span class="blue">{{item.languageScore}}</span>
                            </div>
                            <div class="brief_success">
                                {{item.name}} &nbsp;成功录取 &nbsp;{{item.schoolName}} &nbsp;{{item.professionName}}
                            </div>

                            <i class="glyphicon glyphicon-ok-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧 -->
        <div class="col-md-6" style="width: 49%; display: inline-block; vertical-align: top;">
            <div class="map_img">
                <img src="theme/img/wordmap.png">
            </div>
        </div>

        <!-- 更多 -->
        <div class="get_more success">
            <a ui-sref="success">了解更多<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
    </div>
</div>
<!-- 占位符 -->
<div style="height: 570px;"></div>

<!-- 专业顾问团队 -->
<div class="main_body team_div">
    <img class="flag_div" src="theme/img/flag.svg">
    <div class="title">专业顾问团队</div>

    <div class="team_photo_div">
        <div class="each_photo_div" ng-repeat="item in consultants" ng-click="getConsultDetail(item)">
            <div class="each_photo">
                <img ng-src="{{'upload/images/' + item.headSculpture}}" alt="图片加载错误">
            </div>
            <div class="name">
                {{item.name}}
                <div>{{item.profession}}</div>
            </div>
        </div>
    </div>
</div>

<!-- 顾问介绍 -->
<div class="carousel_div home_carousel consultant_div">
    <div class="title">您挑剔顾问？我们比您更挑剔</div>

    <div class="brief_consult">
        <div class="main_body">

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="theme/img/cube.svg">
                </div>
                <div class="brief_info">
                    <div>2年我们收到<span class="blue">8000</span>多顾问的加入申请</div>
                    <div>以极低的通过率选拔我们顾问</div>
                </div>
            </div>

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="theme/img/cube.svg">
                </div>
                <div class="brief_info">
                    <div>顾问平均从业<span class="blue">5</span>年以上</div>
                    <div>服务<span class="blue">200</span>名以上学生的资深顾问</div>
                </div>
            </div>

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="theme/img/cube.svg">
                </div>
                <div class="brief_info">

                    <div>外教来自美国常春藤及前<span class="blue">30</span>名校</div>
                    <div>毕业的美籍咨询导师</div>
                </div>
            </div>

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="theme/img/cube.svg">
                </div>
                <div class="brief_info">

                    <div>语培老师<span class="blue">5-15</span>年教龄</div>
                    <div><span class="blue">6000+</span>小时授课经历的</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 占位符 -->
<div style="height: 520px;"></div>

<div class="carousel_div home_carousel third_div cooper_div">
    <div class="main_body">
        <img class="flag_div" src="theme/img/flag.svg">
        <div class="title">服务过的学校和企业</div>

        <!-- 企业图片 -->
        <div class="team_photo_div" style="padding-top: 10px;padding-bottom: 20px;">

            <div class="each_cooper_business" style="margin-right: 35px;">
                <img src="theme/source/cooper-img-0.png">
                <div class="cover"></div>
                <div class="flag_h_div">合作办学</div>
            </div>
            <div class="each_cooper_business" style="margin-right: 35px;">
                <img src="theme/source/cooper-img-1.png">
                <div class="cover"></div>
                <div class="flag_h_div">学科培训</div>
            </div>
            <div class="each_cooper_business">
                <img src="theme/source/cooper-img-2.png">
                <div class="cover"></div>
                <div class="flag_h_div">海外培训</div>
            </div>
        </div>

        <!-- 合作伙伴代表 -->
        <div class="title center">服务过的学校和企业代表</div>
        <div>
            <div class="each_present" ng-repeat="item in coopList">
                <img ng-src="{{'upload/images/' + item.imagePath}}" alt="图片加载错误">
            </div>
        </div>
    </div>
</div>
<!-- 占位符 -->
<div style="height: 520px;"></div>

<!-- 荣誉资质 -->
<div class="main_body">
    <div class="honor_title">荣誉资质</div>
    <div>
        <div class="each_cert" ng-repeat="item in honours track by $index" ng-class="{cert_center: $index%3==1}">
            <img ng-src="{{'upload/images/' + item.imagePath}}" alt="图片加载错误">
        </div>
    </div>
</div>