<!-- Created by L.H.S on 2017/10/18. -->

<div class="language_ad_div">
    <img src="/theme/source/language-bg.png">
</div>
<div style="height: 200px;"></div>

<!-- 语种筛选 -->
<div>
    <div class="filter_div">
        <span class="filter_tip">培训类型: </span>
        <span class="filter_option" ng-repeat="ft in filterType" ng-click="filterClick(ft)"
              ng-class="{active: selectedType.id==ft.id}">{{ft.label}}</span>
    </div>
</div>

<!-- 中间块 -->
<div>
    <div class="language_carousel">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lang_news_div">
        <div class="each_news" ng-repeat="temp in [0,1,2,3]">
            <i class="glyphicon glyphicon-menu-right"></i>
            最新！2018年中国托福考试时间安排出炉啦
        </div>

        <div class="more_news">
            更多资讯
            <i class="glyphicon glyphicon-menu-right"></i>
            <i class="glyphicon glyphicon-menu-right"></i>
        </div>
    </div>
</div>

<!-- 介绍块 -->
<div style="margin-top: 50px;">
    <div class="board">
        <!-- title -->
        <div class="board_title">
            <img class="list_icon" src="/theme/img/abroad-icon-1.svg" alt="要求">
            <span class="title_text">
            {{selectedType.label}}考试介绍
        </span>
            <hr>
        </div>

        <!-- body -->
        <div class="border_body language_intro">
            <p>托福是由美国教育测验服务社（ETS）举办的英语能力考试，全名为“检定非英语为母语者的英语能力考试”，中文由TOEFL而音译为“托福”。</p>
            <p>TOEFL有三种，分别是： pbt—paper based test 纸考 677, cbt—computer based test 机考 300, ibt—internet based test 网考 120, 新托福满分是120分。TOEFL考试的有效期为两年，是从考试日期开始计算的。例如：2003年1月18日参加考试，这次考试成绩的有效期是从2003年1月18日到2005年1月18日。托福复习主要资料为托福机经又称民间托福答案题库。</p>
            <p>英国内政部于2014年4月初结束与美国教育考试机构ETS的合作，不再承认其旗下托福（TOEFL）和托业（TOEIC）两大英语考试的成绩。部分准备赴英留学的中国学生反映已接到校方要求重新提供英语考试成绩的通知。</p>
        </div>

        <div class="border_body">
            <button class="hollow">在线资讯</button>
        </div>
    </div>
</div>