/* Created by L.H.S on 2017/11/13.
 * styles of backend
 */

html, body {
    min-width: 1200px !important;
    height: 100%;
    background-color: #e1f1ff;
}

/* 按钮 */
button {
    border: none;
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    /* 可覆盖样式 */
    background-color: #197bc0;
    color: #fff;
}

button:hover,
button:focus {
    background-color: #3097d8;
}

a {
    cursor: pointer;
}

p {
    margin: 0 0;
}

.top_bar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #197bc0;
    padding: 0 15px;
    text-align: right;
    color: #fff;
    font-size: 20px;
}

.top_bar i.fa {
    margin-right: 5px;
}

/* 登录 */
.login_div {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px 0;
    position: relative;
}

.login_error {
    position: absolute;
    width: 200px;
    bottom: 5px;
    left: 50%;
    transform: translate(-100px, 0);
    text-align: center;
    color: red;
}

.login_input {
    width: 250px;
    margin: 10px auto;
}

.login_input img {
    width: 100%;
    height: 65px;
    margin-bottom: 15px;
}

.login_input label {
    font-size: 16px;
    display: inline-block;
    width: 65px;
    margin-right: 5px;
    text-align: justify;
    text-justify: distribute-all-lines; /*ie6-8*/
    text-align-last: justify; /* ie9*/
    -moz-text-align-last: justify; /*ff*/
}

.login_input input[type='text'],
.login_input input[type='password'],
.login_input textarea {
    display: inline-block;
    height: 35px;
    width: 175px;
    border: 1px solid #1591ee;
    outline: none;
    padding-left: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.login_input input:hover,
.login_input input:focus,
.login_input textarea:hover,
.login_input textarea:focus {
    -webkit-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    -moz-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
}

.login_input button {
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}

/* backend */
.backend_div {
    width: 100%;
    margin: 0 0;
}

.left_bar {
    width: 16%;
    display: inline-block;
    vertical-align: top;
}

.main_body {
    width: 84%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    padding: 10px 10px;
}

.ui_view {
    width: 100%;
    min-height: 500px;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(42, 91, 111, 0.2);
    position: relative;
}

.message {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-150px, 0);
}

.bg-danger,
.bg-success {
    font-size: 18px;
    color: #000;
}

.bg-danger {
    background-color: #ffcfcf;
}

.bg-success {
    background-color: #d0f7c1;
}

.h_title {
    margin-bottom: 30px;
}

/* 左侧导航栏 */
.left_bar .panel-group .panel {
    border-radius: 0;
    margin-bottom: -6px;
    border-color: #e1f1ff;
    border-left: none;
}

.left_bar .panel-heading {
    border-radius: 0;
}

.left_bar .panel-default > .panel-heading {
    background-color: #4f4f4f;
    color: #fff;
    padding: 0;
    height: 35px;
    text-align: center;
}

.left_bar .panel-default > .panel-heading a {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.left_bar .panel-body {
    padding: 0 0;
}

.each_menu {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.each_menu a {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #4a4a4a;
}

.each_menu:hover,
.each_menu.active {
    background-color: #dafafc;
}

/* 用户管理页 */
.portrait_div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 100px;
    color: #d8d8d8;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.portrait_info_div {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    font-size: 16px;
    padding-top: 5px;
    position: relative;
}

.portrait_info_div .name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.portrait_info_div .name button {
    margin-left: 20px;
}

.portrait_btn {
    position: absolute;
    right: 0;
    top: 0;
}

.table_mod {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 0;
}

.table_mod.border {
    border-right: 1px solid #d8d8d8;
    margin-right: -4px;
    padding-left: 0;
}

.action_col {
    width: 150px;
}

th .fa {
    margin-right: 5px;
}

/* 筛选 */
.filter_div {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #979797;
    font-size: 20px;
    margin-bottom: 15px;
}

.filter_tip {
    color: #9b9b9b;
    margin-right: 40px;
}

.filter_tip.block {
    width: 75px;
    display: inline-block;
    padding-bottom: 0;
    position: relative;
    top: 2px;
}

.filter_option {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    margin-right: 15px;
}

.filter_option:hover,
.filter_option.active {
    color: #197bc0;
}

.photo_preview {
    width: 150px;
    height: 90px;
    display: inline-block;
    vertical-align: top;
}

.photo_preview img {
    width: 100%;
    height: 90px;
}

.heart_div {
    margin: 10px 0;
}

.heart_div .fa {
    cursor: pointer;
    font-size: 18px;
}

.heart_div .fa-heart {
    color: #ec5c5c;
}

.consult_photo_preview {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

.consult_photo_preview img {
    width: 100%;
    height: 100px;
}

.consult_intro {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.logo_preview {
    width: 120px;
    height: 100px;
}

.logo_preview img {
    width: 100%;
    height: 100px;
}

.modal-body .login_input {
    margin-left: 0;
    width: 100%;
}

.modal-body .login_input label {
    width: 100px;
}

.modal-body .login_input input[type='text'] {
    width: 400px;
}

.login_input textarea {
    width: 400px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

.article_input {
    display: inline-block;
    vertical-align: top;
}

.article_input .login_input {
    margin-left: 0;
    width: 520px;
}

.article_input .login_input label {
    width: 100px;
}

.article_input .login_input input {
    width: 400px;
}

/* 下拉框 */
.combox {
    margin: 0 0;
}

.combox label {
    position: relative;
    top: 10px;
}

.combox button {
    display: inline-block;
    height: 35px;
    width: 400px;
    border: 1px solid #1591ee;
    border-radius: 0;
    outline: none;
    padding-left: 5px;
    float: none !important;
    text-align: left;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.combox button .fa {
    font-size: 18px;
    float: right;
    position: relative;
    top: 3px;
}

.combox button:hover,
.combox button:focus {
    background-color: #fff !important;
    border: 1px solid #1591ee !important;
    -webkit-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    -moz-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
}

.combox .dropdown-menu {
    max-height: 200px;
    overflow: auto;
}

.inner_combox {
    display: inline-block;
}

.loading_div {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translate(-50px, -50px);
}

.loading_div img {
    width: 100%;
    height: 100px;
}

.modal_message {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    margin: 0 15px;
}

.tab_edit_btn {
    position: absolute;
    right: 15px;
    top: 11px;
}

.no_data {
    background-color: #f9f9f9;
    text-align: center;
}

.auto_width .filter_option {
    width: auto;
    padding: 0 10px;
}

.work_logo {
    width: 140px;
    height: 40px;
}

/* 上传文件优化 */
.a_upload {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 400px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    border: 1px solid #1591ee;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    *display: inline;
    *zoom: 1;
    position: relative;
}

.a_upload input {
    display: inline-block;
    width: 395px;
    height: 35px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.a_upload:hover {
    -webkit-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    -moz-box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
    box-shadow: 0 0 8px rgba(25, 123, 192, 0.7);
}

.preview_img {
    width: 340px !important;
    height: 190px !important;
    position: absolute;
    right: -350px;
    bottom: -15px;
    border: 1px solid #afafaf;
}

.preview_img_form {
    width: 400px !important;
    height: 150px !important;
    display: inline-block;
    border: 1px solid #afafaf;
    margin-top: 12px;
}

.preview_img_form img {
    width: 100%;
    height: 150px;
}

.limit_min_width th {
    min-width: 75px;
}