/** 所有页面的css样式 **/

/* abroad */
.board {
    width: 100%;
    padding: 1px 0;
    margin-bottom: 50px;
}

.board_title {
    width: 100%;
    height: 50px;
    font-size: 26px;
    color: #197bc0;
}

.list_icon {
    height: 100%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.title_text {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.title_text.small {
    font-size: 18px;
}

.title_text.smaller {
    font-size: 16px;
    width: 225px;
}

.board_title hr {
    width: 800px;
    border: 4px solid #197bc0;
    display: inline-block;
    vertical-align: middle;
}

.orange {
    color: #e37375;
}

.board_title.orange hr {
    border: 4px solid #e37375;
}

.pink {
    color: #c01e5c;
}

.board_title.pink hr {
    border: 4px solid #c01e5c;
}

.yellow {
    color: #ffc001;
}

.blue {
    color: #1591ee;
}

.border_body {
    width: 100%;
    margin-top: 20px;

}

.condition_block {
    width: 280px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.condition_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #197bc0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.score_condition {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    margin: 0 0;
}

.score_condition label {
    width: 160px;
    font-weight: normal;
    font-size: 18px;
}

.score_condition span {
    font-size: 24px;
    color: #1591ee;
}

.factor_body {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    position: relative;
}

.factor_tab_container {
    width: 100%;
    height: 40px;
    background-color: #c01e5c;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.factor_tab {
    width: 25%;
    height: 40px;
    margin: 0 0;
    border-right: 1px solid #ccd1d9;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    float: left;
}

.factor_tab.active,
.factor_tab:hover {
    color: #424a54;
    background-color: #fff;
}

.no_border {
    border: none;
}

.tab_body {
    width: 1000px;
    margin: 30px auto;
    line-height: 25px;
}

.tab_body label {
    font-weight: bold;
}

.tab_body span {
    color: #999;
}

.factor_body button {
    background-color: #c01e5c;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.factor_body button:hover {
    background-color: #e44d87;
}

/* introduction页面 */
.right_part {
    width: 820px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0;
}

.right_part .board_title .title_text {
    width: 170px;
}

.right_part .board_title hr {
    width: 630px;
}

.right_part .board_title.img_title hr {
    width: 550px;
}

/* 标题名太长 */
.right_part .board_title.small .title_text {
    width: 220px;
    font-size: 18px;
}

.right_part .board_title.img_title.small hr {
    width: 500px;
}

.right_part .border_body {
    padding: 0 5px;
    font-size: 18px;
}

.right_part .border_body p {
    margin: 0 0;
}

.more_btn {
    float: right;
}

.left_part {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-right: 35px;
}

.ad_div {
    width: 100%;
    margin-bottom: 30px;
}

.ad_div img {
    width: 100%;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-content: center;
}

#advice .card {
    padding: 15px 15px;
    font-size: 16px;
    text-indent: 2em;
}

#advice .card p {
    margin: 10px 0;
}

.card_th {
    height: 30px;
    line-height: 30px;
    color: #ffc001;
    font-size: 18px;
}

.card_tb {
    height: 70px;
    color: #000;
    font-size: 18px;
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_td {
    margin: 0 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.width_30 {
    width: 30%;
    margin-right: -5px;
}

.width_70 {
    width: 70%;
    text-align: center;
}

/* 成功案例 */
.border_body.card .name_div {
    font-size: 30px;
    color: #197bc0;
    padding: 10px 0;
}

.border_body.card .name_div span {
    padding: 0 20px;
    display: inline-block;
    vertical-align: bottom;
}

.border_body.card .name_div span.school {
    color: #ffc001;
    font-size: 20px;
}

.border_body.card .each_row {
    padding: 10px 10px;
    font-size: 16px;
    color: #9b9b9b;
}

.border_body.card .each_row span {
    padding: 0 10px;
}

.border_body.card .each_row span.blue {
    padding: 0 0;
    color: #1591ee;
}

.sub_title {
    padding: 0 10px;
    color: #1591ee;
}

.sub_title span {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    font-size: 20px;
    padding: 0 0;
    margin: 0 10px;
}

.sub_title hr {
    border: 1px solid #1591ee;
    width: 630px;
    display: inline-block;
    vertical-align: middle;
}

.photo_div {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.photo_div .img_div {
    width: 90px;
    height: 100px;
    -webkit-border-radius: 45px / 50px;
    -moz-border-radius: 45px / 50px;
    border-radius: 45px / 50px;
    overflow: hidden;
    background-color: #d8d8d8;
}

.photo_div .name {
    width: 90px;
    text-align: center;
    padding: 10px 0;
    line-height: 45px;
    font-size: 18px;
    color: #1591ee;
}

.dialog_outer {
    width: 620px;
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
}

.dialog_outer .each_row {
    padding-left: 0 !important;
    line-height: 45px;
}

.dialog_outer .each_row span {
    padding: 10px 30px 10px 0 !important;
}

.dialog_div {
    width: 620px;
    height: 100px;
    background-color: #1591ee;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog_body {
    width: 500px;
    height: 80px;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
}

.dialog_body div.title {
    color: #a9b2bd;
}

.decorate_div {
    width: 40px;
    height: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    left: -20px;
    top: 50px;
    transform: rotate(45deg);
    background-color: #1591ee;
}

.reserve_btn {
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-color: #1591ee;
}

.reserve_btn:hover,
.reserve_btn:focus {
    background-color: #45A9F3;
}

/* 就业前景 */
.prospect_container {
    width: 50%;
    min-height: 350px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0;
    padding: 10px 0;
    font-size: 24px;
    color: #e37375;
}

.prospect_right {
    margin-left: -5px;
    border-left: 4px solid #197bc0;
    color: #c01e5c;
    padding-left: 160px;
}

.center_circle {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #197bc0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75px, -75px);
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.center_circle .money {
    font-size: 28px;
    color: #ffc001;
}

.prospect_title img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.prospect_title span {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: 3px;
}

.prospect_body {
    margin-top: 40px;
}

.prospect_body div {
    margin: 15px 0;
    line-height: 40px;
    height: 40px;
}

.prospect_body img {
    width: 140px;
    height: 40px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}

.left_bar a {
    font-size: 24px;
    color: #9b9b9b;
}

.left_bar div {
    padding-left: 30px;
}

.left_bar div,
.left_bar div a {
    height: 30px;
    line-height: 30px;
    margin: 25px auto;
}

.left_bar div:hover a {
    color: #197bc0;
    text-decoration: none;
}

.left_bar div.active {
    color: #197bc0 !important;
    border-left: 6px solid #197bc0;
    padding-left: 24px !important;
}

.left_bar_fixed {
    position: fixed;
    top: 0;
}

/* 院校排名 */
.rank_bar_div {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}

.rank_bar {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin: 0 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.rank_bar:hover {
    color: #197bc0;
}

.rank_bar.active {
    background-color: #197bc0;
    color: #fff;
}

.school_logo {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: inline-block;
    vertical-align: middle;
}

.school_name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.school_name span {
    font-size: 14px;
    color: #9b9b9b;
}

.apply_td div {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 0;
    color: #197bc0;
}

.rank_td {
    font-size: 24px;
    color: #197bc0;
}

tbody.tr_clickable tr {
    cursor: pointer;
}

tbody.tr_clickable tr:hover {
    background-color: #eafbff;
}

/* 成功案例 */
.each_ex {
    height: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.each_ex div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.ex_order {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #197bc0;
    color: #fff !important;
    font-size: 16px;
    line-height: 20px;
}

.ex_info {
    font-size: 18px;
    color: #9b9b9b;
    width: 200px;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ex_info:hover {
    color: #197bc0;
    text-decoration: underline;
}

.filter_div {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #979797;
    font-size: 20px;
    margin-bottom: 15px;
}

.filter_tip {
    color: #9b9b9b;
    margin-right: 40px;
}

.filter_option {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    margin-right: 15px;
}

.filter_option:hover,
.filter_option.active {
    color: #197bc0;
}

.ex_content {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #979797;
    font-size: 15px;
    cursor: pointer;
}

.ex_content:hover {
    background-color: #eafbff;
}

.ex_school_logo {
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}

.ex_school_logo img {
    width: 150px;
    height: 150px;
}

.ex_brief {
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
}

.ex_brief .title {
    font-size: 24px;
    margin-top: 10px;
}

.brief_each {
    font-size: 20px;
    margin-top: 20px;
}

.brief_each .tip {
    color: #9b9b9b;
    margin-right: 5px;
}

.brief_each .name {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}

.ex_apply_btn {
    color: #1591ee;
    float: right;
    cursor: pointer;
}

.ex_apply_btn i {
    position: relative;
    top: 3px;
}

.ex_apply_btn:hover {
    color: #197bc0;
    text-decoration: underline;
}

.pagination_div {
    margin-top: 20px;
    float: right;
}

/* 背景提升 */
.carousel_div {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    min-width: 1210px;
    height: 450px;
}

.carousel_div img {
    width: 100%;
    height: 450px;
}

.right_part.promotion_body .board_title .title_text {
    width: 120px;
}

.right_part.promotion_body .board_title hr {
    width: 680px;
}

.pro_each_item {
    width: 240px;
    height: 230px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 40px 10px 0;
}

.pro_each_item.last {
    margin-right: 0;
}

.pro_each_item img {
    width: 100%;
    height: 150px;
}

.pro_each_item .title {
    font-size: 20px;
    text-align: center;
}

.pro_each_item .info {
    font-size: 20px;
    color: #9b9b9b;
}

/* 语言培训 */
.language_ad_div {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    min-width: 1210px;
    height: 200px;
}

.language_ad_div img {
    width: 100%;
    height: 200px;
}

.language_carousel {
    display: inline-block;
    vertical-align: top;
    width: 745px;
    height: 370px;
}

.language_carousel img {
    width: 100%;
    height: 370px;
}

.lang_news_div {
    display: inline-block;
    vertical-align: top;
    width: 340px;
    height: 370px;
    margin-left: 10px;
    padding: 15px 15px;
    background: url("/theme/img/language-news-bg.png") 100%;
    position: relative;
    color: #fff;
    font-size: 20px;
}

.each_news {
    height: 60px;
    margin: 15px 0;
    cursor: pointer;
}

.more_news {
    position: absolute;
    bottom: 15px;
    right: 30px;
    cursor: pointer;
}

.more_news i {
    margin-right: -15px;
    position: relative;
    top: 3px;
}

.each_news:hover,
.more_news:hover {
    color: #ffbb64;
    text-decoration: underline;
}

.language_intro {
    font-size: 24px;
    text-indent: 2em;
}

.language_intro p {
    margin: 0 0;
}

/* 合作办学 */
.coop_div {
    margin-top: 40px;
}

.board.coop_div .title_text {
    width: 250px;
}

.board.coop_div .board_title hr {
    width: 832px;
}

.methods_div {
    padding: 20px 70px;
}

.coop_div .pro_each_item {
    margin: 15px 40px;
}

.coop_div .factor_tab_container {
    background-color: #197bc0;
}

.coop_div .pagination_div {
    margin-top: 0;
    margin-right: 40px;
}

.factor_tab.tab_5  {
    width: 20%;
}