/* Created by L.H.S on 2017/8/16.
 * styles in common
 */

body, html {
    min-width: 1120px !important;
}

/* 导航栏 */
.navbar-header img {
    width: 150px;
    height: 60px;
    margin-right: 50px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-default {
    background-color: #fff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 1100px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-default .navbar-nav > li > a,
.nav .navbar-nav > li > a {
    font-size: 18px;
    color: #000;
    line-height: 55px !important;
    padding: 0 10px !important;
}

.navbar-default .navbar-nav > li {
    display: inline-block;
    cursor: pointer;
}

.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
    color: #197bc0;
    border-bottom: 5px solid #197bc0;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu > li > a {
    font-size: 14px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #197bc0;
    color: #fff;
}

.dropdown-menu .dropdown > a > img {
    height: 15px;
    margin-right: 20px;
    position: relative;
    top: -2px;
}

.navbar-collapse.collapse {
    display: block;
    height: 60px;
}

.navbar-nav {
    margin: 0 0;
}

.navbar-header {
    float: left;
    display: inline-block;
    vertical-align: top;
}

.top_bg {
    width: 100%;
    height: 150px;
    background: url("../img/school-detail-bg.png");
}
