<!-- Created by L.H.S on 2017/8/14. -->

<!-- 左边导航 -->
<div class="left_part">

    <div class="ad_div" ng-repeat="item in recomendList">
        <img ng-src="{{'upload/images/' + item.picturePath}}" alt="图片加载错误">
    </div>

    <!-- 案例推荐 -->
    <div class="board_title" style="width: 240px;">
        <span class="title_text" style="width: 110px;">案例推荐</span>
        <hr style="width: 110px">
    </div>

    <div>
        <div class="each_ex" ng-repeat="item in recSucList track by $index" ng-click="getDetail(item)">
            <div class="ex_order">{{$index+1}}</div>
            <div class="ex_info" style="text-align: left" >{{item.slogan}}</div>
        </div>
    </div>

</div>

<!-- 右边主体 -->
<div class="right_part">

    <!-- 筛选 -->
    <div class="auto_width">
        <div class="filter_div">
            <span class="filter_tip">国家: </span>
            <span class="filter_option" ng-repeat="fc in filterCountry" ng-click="filterClick(0, fc)"
                  ng-class="{active: selectedCoun==fc}">{{fc}}</span>
        </div>
        <div class="filter_div">
            <span class="filter_tip">大类: </span>
            <span class="filter_option" ng-repeat="fe in filterEdu" ng-click="filterClick(1, fe)"
                  ng-class="{active: selectedEdu.id==fe.id}">{{fe.id}}</span>
        </div>
        <div class="filter_div">
            <span class="filter_tip">专业: </span>
            <span class="filter_option" ng-repeat="fs in filterSp" ng-click="filterClick(2, fs)"
                  ng-class="{active: selectedSp.id==fs.id}">{{fs.id}}</span>
        </div>
    </div>

    <!-- 内容 -->
    <div style="margin-top: 30px; min-height: 570px;">

        <div class="ex_content" ng-repeat="item in successList" ng-click="getDetail(item)">
            <div class="ex_school_logo">
                <img src="/theme/source/Harvard.png">
            </div>
            <div class="ex_brief">
                <div class="brief_each">
                    <span class="tip">学生: </span>
                    <span class="name">{{item.name}}</span>
                    <span class="tip">成绩: </span>
                    {{item.languageScore}}
                    <span class="tip" style="margin-left: 10px;">GPA: </span>
                    {{item.gpa}}
                </div>
                <div class="brief_each">
                    <span class="tip">录取学校: </span>
                    <span>{{item.schoolName}}</span>

                    <div class="ex_apply_btn">我要申请<i class="glyphicon glyphicon-menu-right"></i></div>
                </div>
            </div>
        </div>

        <!-- 分页 -->
        <!--<div class="pagination_div">-->
            <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>-->
        <!--</div>-->

    </div>
</div>