<!-- Created by L.H.S on 2017/11/11. -->

<!-- 左边导航 -->
<div class="left_part">

    <div class="ad_div" ng-repeat="item in recomendList">
        <img ng-src="{{'upload/images/' + item.picturePath}}" alt="图片加载错误">
    </div>

    <!-- 案例推荐 -->
    <div class="board_title" style="width: 240px;">
        <span class="title_text" style="width: 110px;">案例推荐</span>
        <hr style="width: 110px">
    </div>

    <div>
        <div class="each_ex" ng-repeat="item in recSucList track by $index" ng-click="getCaseDetail(item)">
            <div class="ex_order">{{$index+1}}</div>
            <div class="ex_info" style="text-align: left">{{item.slogan}}</div>
        </div>
    </div>

</div>

<div class="right_part">

    <!-- 路径导航 -->
    <div>
        <ol class="breadcrumb">
            <li><a href="/#/home">首页</a></li>
            <li><a href="/#/success">成功案例</a></li>
            <li>{{sucTitle}}</li>
        </ol>
    </div>

    <!-- 卡片 -->
    <div class="board card" style="padding: 25px 10px;">
        <div class="suc_left">
            <img src="/theme/source/Harvard.png">
        </div>
        <div class="suc_right">
            <div class="info">
                <label>学生：</label>{{successCase.name}}
                <label style="margin-left: 40px;">成绩: </label> {{successCase.languageScore}}
                <label style="margin-left: 10px;">GPA: </label>{{successCase.gpa}}
            </div>
            <div class="info">
                <label>录取学校：</label>{{successCase.schoolName}}
            </div>
        </div>
    </div>

    <!-- 案例介绍 -->
    <!-- 详情介绍 -->
    <div class="board">
        <!-- title -->
        <div class="board_title">
            <span class="title_text" style="width: 130px;">
            案例介绍
            </span>
            <hr style="width: 670px;">
        </div>

        <div class="border_body" style="min-height: 400px;">
            <div ng-bind-html="successCase.content"></div>
        </div>
    </div>

</div>