<!-- Created by L.H.S on 2017/8/14. -->

<!-- 左边导航 -->
<div class="left_part">

    <div class="ad_div">
        <img src="/theme/source/intro-ad-1.png" alt="顾问方案">
    </div>

    <div class="ad_div">
        <img src="/theme/source/intro-ad-2.png" alt="总监专案">
    </div>

    <!-- 案例推荐 -->
    <div class="board_title" style="width: 240px;">
        <span class="title_text" style="width: 110px;">案例推荐</span>
        <hr style="width: 110px">
    </div>

    <div>
        <div class="each_ex" ng-repeat="ex in [0,1,2,3] track by $index">
            <div class="ex_order">{{$index+1}}</div>
            <div class="ex_info">出色文书呈现学生的优秀巴拉巴拉巴拉</div>
        </div>
    </div>

</div>

<!-- 右边主体 -->
<div class="right_part">

    

</div>