<!-- Created by L.H.S on 2017/11/11. -->

<!-- 左边导航 -->
<div class="left_part">

    <div class="ad_div">
        <img src="/theme/source/intro-ad-1.png" alt="顾问方案">
    </div>

    <div class="ad_div">
        <img src="/theme/source/intro-ad-2.png" alt="总监专案">
    </div>

    <!-- 案例推荐 -->
    <div class="board_title" style="width: 240px;">
        <span class="title_text" style="width: 110px;">案例推荐</span>
        <hr style="width: 110px">
    </div>

    <div>
        <div class="each_ex" ng-repeat="ex in [0,1,2,3] track by $index">
            <div class="ex_order">{{$index+1}}</div>
            <div class="ex_info">出色文书呈现学生的优秀巴拉巴拉巴拉</div>
        </div>
    </div>

</div>

<div class="right_part">

    <!-- 路径导航 -->
    <div>
        <ol class="breadcrumb">
            <li><a href="/#/home">首页</a></li>
            <li><a href="/#/success">成功案例</a></li>
            <li>{{sucTitle}}</li>
        </ol>
    </div>

    <!-- 卡片 -->
    <div class="board card" style="padding: 25px 10px;">
        <div class="suc_left">
            <img src="/theme/source/Harvard.png">
        </div>
        <div class="suc_right">
            <div class="title">
                名校教授亲笔推荐，斩获哈佛录取
            </div>
            <div class="info">
                <label>学生：</label>李同学
                <label style="margin-left: 40px;">成绩: </label>TOEFL <span class="blue">109</span>, SAT <span class="blue">2330</span>
            </div>
            <div class="info">
                <label>录取学校：</label>哈佛大学
            </div>
        </div>
    </div>

    <!-- 案例介绍 -->
    <!-- 详情介绍 -->
    <div class="board">
        <!-- title -->
        <div class="board_title">
            <span class="title_text" style="width: 130px;">
            案例介绍
            </span>
            <hr style="width: 670px;">
        </div>

        <div class="border_body">
            <p>录取结果</p>
            <p>中文学校名称：</p>
            <p>哈佛大学</p>
            <p>学生情况分析</p>
            <p>院校背景：上外附中</p>
            <p>成绩说明：TOEFL 109，SAT 2330</p>
            <p>申请方向：本科 升学</p>
            <p>申请难点：学生学习成绩不占优势</p>
            <p>案例全解析</p>
            <p>办理过程：</p>
            <p>事实上，学生的学习成绩对于申请顶级的常春藤名校哈佛大学来说是完全不占优势的。然而美国名校的录取关注更多的是学生本身的能力情况。针对目前的申请趋势，我们必须要在申请中突出学生的亮点，让学生有区别于其他申请者的明显特征，成为学校确定想要录取的人才。</p>
            <p>在经过分析之后，我们发现学生的学习能力是比较强的，适应环境能力也很快，为了能增加学生被录取的把握，我们为学生制定了一系列的详细的申请方案。</p>
            <p>首先，我们安排学生参加了平和高中在校培训，同时邀请到由哥伦比亚大学的写作教授来负责学生的SAT进阶课程，系统地提高学生的成绩。在经过这两个有针对性的强化训练之后，学生进步非常显著，SAT成绩从原先的1600+ 增加到了2330，让学生在分数上占据优势。之后，针对学生学习和研究背景较弱的情况，我们协助并为学生争取了去参与现任斯坦福大学教授Matthew教授的 Dracula 文献翻译工作的机会，经过一段时间的努力工作，由于学生在文献翻译工作中的优异表现，最终获得了哈佛大学Big Think十大最伟大教授评选当选者Matthew Kaiser的亲笔推荐信，这绝对可以说是申请过程中的点睛之笔。</p>
            <p>我们将学生认真工作的经历填充到申请文书当中，连同Matthew的亲笔推荐信递交给学校，这份高含金量的工作机会和极具力度的推荐信使学生获得了哈佛大学评审委员会的认可，为学生收到哈佛大学的本科录取打下了坚实的基础。</p>
        </div>
    </div>

</div>