<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>关于我们</h2>
    </div>

    <!-- 公司介绍 -->
    <div style="margin-top: 30px;">
        <table class="table table-striped">
            <thead>
            <th>
                公司介绍
                <a ng-click="modIntroduce()" style="float: right"><i class="fa fa-pencil"></i>修改</a>
            </th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="auto_td_div">
                        {{companyInfo.introduce.value}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>公司特点</h2>
    </div>

    <div style="margin-top: 30px;">
        <table class="table table-hover">
            <thead>
            <th>特点</th>
            <th>描述</th>
            <th class="action_col"><i class="fa fa-pencil"></i>修改</th>
            </thead>
            <tbody>
            <tr>
                <td>特点一</td>
                <td>
                    <div class="auto_td_div">
                        {{companyInfo.characteristic1.value}}
                    </div>
                </td>
                <td>
                    <a ng-click="modCharacter('characteristic1')">修改</a>
                </td>
            </tr>
            <tr>
                <td>特点二</td>
                <td>
                    <div class="auto_td_div">
                        {{companyInfo.characteristic2.value}}
                    </div>
                </td>
                <td>
                    <a ng-click="modCharacter('characteristic2')">修改</a>
                </td>
            </tr>
            <tr>
                <td>特点三</td>
                <td>
                    <div class="auto_td_div">
                        {{companyInfo.characteristic3.value}}
                    </div>
                </td>
                <td>
                    <a ng-click="modCharacter('characteristic3')">修改</a>
                </td>
            </tr>
            <tr ng-if="coopList.length==0">
                <td class="no_data" colspan="7">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="h_title" style="margin-top: 50px;">
        <h2>合作过的学校和企业</h2>
    </div>

    <!-- 合作的学校和企业 -->
    <div style="margin-top: 30px;">
        <table class="table table-hover">
            <thead>
            <th style="width: 180px;">logo</th>
            <th>名称</th>
            <th>国家</th>
            <th>类型</th>
            <th>简介</th>
            <th>开始时间</th>
            <th class="action_col"><a ng-click="addCoop()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in coopList track by $index">
                <td>
                    <div class="logo_preview">
                        <img ng-src="{{'/upload/images/' + item.imagePath}}" alt="图片加载失败">
                    </div>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.country}}</td>
                <td>{{item.category}}</td>
                <td>{{item.birefIntroduce}}</td>
                <td>{{item.cooperateAt}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modCoop(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delCoop(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="coopList.length==0">
                <td class="no_data" colspan="7">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 联系方式管理 -->
    <div style="margin-top: 30px;">
        <table class="table table-striped">
            <thead>
            <th>联系方式</th>
            <th>详情</th>
            <th style="width: 85px;"><i class="fa fa-pencil"></i>修改</th>
            </thead>
            <tbody>
            <tr>
                <td>地址</td>
                <td>{{contactInfo.address.value}}</td>
                <td>
                    <a ng-click="modContact('address', '公司地址')">修改</a>
                </td>
            </tr>
            <tr>
                <td>电话</td>
                <td>{{contactInfo.phoneNumber.value}}</td>
                <td>
                    <a ng-click="modContact('phoneNumber', '电话号码')">修改</a>
                </td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>{{contactInfo.email.value}}</td>
                <td>
                    <a ng-click="modContact('email', '邮箱账号')">修改</a>
                </td>
            </tr>
            <tr>
                <td>Q Q</td>
                <td>{{contactInfo.qq.value}}</td>
                <td>
                    <a ng-click="modContact('qq', 'QQ号码')">修改</a>
                </td>
            </tr>
            <tr>
                <td>微信</td>
                <td>{{contactInfo.wChart.value}}</td>
                <td>
                    <a ng-click="modContact('wChart', '微信号码')">修改</a>
                </td>
            </tr>
            <tr>
                <td>微信二维码</td>
                <td>
                    <div class="logo_preview" style="width: 100px;">
                        <img ng-src="{{'/upload/images/'+contactInfo.qrcode.value}}" alt="二维码加载失败">
                    </div>
                </td>
                <td>
                    <a ng-click="modContact('qrcode', '微信二维码')">修改</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 联系信息管理 -->

    <div class="h_title" style="margin-top: 50px;">
        <h2>联系信息管理</h2>
    </div>

    <uib-tabset>
        <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}">
            <!-- 未处理 -->
            <div ng-show="tab.type==0">
                <table class="table table-hover">
                    <thead>
                    <th>未处理联系信息</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>联系时间</th>
                    <th class="action_col"><i class="fa fa-pencil"></i></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in toReply track by $index">
                        <td>{{item.content}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.contactAt}}</td>
                        <td>
                            <div class="table_mod border"><a ng-click="reply(item, $index)">答复</a></div>
                            <div class="table_mod"><a ng-click="delToReply(item, $index)">删除</a></div>
                        </td>
                    </tr>
                    <tr ng-if="toReply.length==0">
                        <td class="no_data" colspan="6">无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 已处理 -->
            <div ng-show="tab.type==1">
                <table class="table table-hover">
                    <thead>
                    <th>已处理联系信息</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>联系时间</th>
                    <th>答复内容</th>
                    <th>答复时间</th>
                    <th class="action_col"><i class="fa fa-pencil"></i></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in hasReply track by $index">
                        <td>{{item.content}}</td>

                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.contactAt}}</td>
                        <td>{{item.replyMessage}}</td>
                        <td>{{item.replyAt}}</td>
                        <td>
                            <div class="table_mod"><a ng-click="delToReply(item, $index)">删除</a></div>
                        </td>
                    </tr>
                    <tr ng-if="toReply.length==0">
                        <td class="no_data" colspan="7">无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>

</div>