<!-- Created by L.H.S on 2017/11/14. -->


<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>留学管理
            <small>留学方案</small>
        </h2>
    </div>

    <!-- 筛选 -->
    <div>
        <div class="filter_div">
            <span class="filter_tip">国家: </span>
            <span class="filter_option" ng-repeat="fc in filterCountry" ng-click="filterClick(0, fc)"
                  ng-class="{active: selectedCoun==fc.id}">{{fc.label}}</span>
        </div>
        <div class="filter_div">
            <span class="filter_tip">学历: </span>
            <span class="filter_option" ng-repeat="fe in filterEdu" ng-click="filterClick(1, fe)"
                  ng-class="{active: selectedEdu==fe.id}">{{fe.label}}</span>
        </div>
    </div>

    <!-- 热门推荐 -->
    <div class="h_title" style="margin-top: 50px;">
        <h2>热门推荐（三个）</h2>
    </div>
    <div style="margin-top: 20px;">
        <table class="table table-hover">
            <thead>
            <th>方案标题</th>
            <th>宣传图片</th>
            <th>年级</th>
            <th>方案导语</th>
            <th class="action_col">
                <a ng-click="addRec()"><i class="fa fa-plus"></i>添加</a>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="item in recomendList track by $index">
                <td>{{item.applicationSchemeVO.title}}</td>
                <td>
                    <div>
                        <div class="photo_preview">
                            <img ng-src="{{'upload/images/'+item.picturePath}}" alt="图片资源错误">
                        </div>
                    </div>
                </td>
                <td>{{item.applicationSchemeVO.subdivisionGrade}}</td>
                <td>{{item.applicationSchemeVO.synopsis}}</td>
                <td>
                    <div class="table_mod border">
                        <a ng-click="modRec(item, $index)">修改</a>
                    </div>
                    <div class="table_mod">
                        <a ng-click="delRec(item, $index)">删除</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 方案列表 -->
    <div class="h_title" style="margin-top: 50px;">
        <h2>方案列表</h2>
    </div>
    <div style="margin-top: 30px;">
        <table class="table table-hover">
            <thead>
            <th>方案标题</th>
            <th>年级</th>
            <th>方案导语</th>
            <th class="action_col"><a ng-click="addMethod()"><i class="fa fa-plus"></i>添加</a></i></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in methodList track by $index">
                <td><a ng-click="getMethod(item)">{{item.title}}</a></td>
                <td>{{item.subdivisionGrade}}</td>
                <td>{{item.synopsis}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modMethod(item)">修改</a></div>
                    <div class="table_mod"><a ng-click="delMethod(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="methodList.length==0">
                <td colspan="4" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>