<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>留学管理
            <small>国家管理</small>
        </h2>
    </div>

    <!-- 留学国家列表 -->
    <div>
        <table class="table table-hover">
            <thead>
            <th>留学国家列表</th>
            <th class="action_col"><a ng-click="addCountry()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in countryList track by $index">
                <td>{{item}}</td>
                <td>
                    <div class="table_mod"><a ng-click="delCountry(item, $index)">删除</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>