<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>留学管理
            <small>留学服务</small>
        </h2>
    </div>

    <!-- 筛选 -->
    <div>
        <div class="filter_div">
            <span class="filter_tip">国家: </span>
            <span class="filter_option" ng-repeat="fc in filterCountry" ng-click="filterClick(0, fc)"
                  ng-class="{active: selectedCoun==fc.id}">{{fc.label}}</span>
        </div>
        <div class="filter_div">
            <span class="filter_tip">学历: </span>
            <span class="filter_option" ng-repeat="fe in filterEdu" ng-click="filterClick(1, fe)"
                  ng-class="{active: selectedEdu==fe.id}">{{fe.label}}</span>
        </div>
    </div>

    <!-- 硬性条件要求 -->
    <div class="h_title" style="margin-top: 50px;">
        <h2>硬性条件要求</h2>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <th>等级标题</th>
            <th>要求标题</th>
            <th>要求内容</th>
            <th class="action_col"><a ng-click="addCondition()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in conditionList track by $index">
                <td>{{item.rank}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.score}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modCondition(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delCondition(item, $index)">删除</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 申请要素 -->
    <div class="h_title" style="margin-top: 50px;">
        <h2>申请要素</h2>
    </div>
    <uib-tabset style="position: relative">
        <uib-tab index="$index" ng-repeat="tab in factorTabs track by $index" heading="{{tab.category}}">
            <a class="tab_edit_btn" ng-click="editFactor(tab, $index)"><i class="fa fa-pencil"></i>编辑</a>
            <table class="table table-striped">
                <tbody>
                <tr ng-if="tab.synopsis">
                    <td>{{tab.synopsis}}</td>
                </tr>
                <tr ng-if="!tab.synopsis">
                    <td class="no_data">无数据</td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>


    <!-- 常见问题 -->
    <div class="h_title" style="margin-top: 50px;">
        <h2>常见问题</h2>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <th>常见问题</th>
            <th>回答</th>
            <th>推荐展示</th>
            <th class="action_col"><a ng-click="addQuestion()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in questionList track by $index">
                <td>{{item.question}}</td>
                <td>{{item.answer}}</td>
                <td>{{(item.isShow=='true'||item.isShow==true)?'是':'否'}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modQues(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delQues(item, $index)">删除</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>