<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>语言培训</h2>
    </div>

    <!-- 筛选 -->
    <div>
        <div class="filter_div">
            <span class="filter_tip">分类: </span>
            <span class="filter_option" style="width: auto; padding: 0 10px;" ng-repeat="ft in filterType"
                  ng-click="filterClick(ft)"
                  ng-class="{active: selectedType==ft}">{{ft}}</span>
        </div>
    </div>

    <!-- 轮播图管理 -->
    <div style="margin-top: 40px;">
        <table class="table table-hover">
            <thead>
            <th style="width: 180px;">轮播图管理</th>
            <th>标题</th>
            <th>链接</th>
            <th class="action_col"><a><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="temp in [0,1,2,3]">
                <td>
                    <div class="photo_preview">
                        <img src="/theme/source/promotion-0.png">
                    </div>
                </td>
                <td>这里放标题</td>
                <td>http://www.baidu.com</td>
                <td>
                    <div class="table_mod border"><a>修改</a></div>
                    <div class="table_mod"><a>删除</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 资讯列表 -->
    <div>
        <table class="table table-hover">
            <thead>
            <th>资讯列表</th>
            <th class="action_col"><a><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="temp in [0,1,2,3]" style="cursor: pointer">
                <td>
                    <a>最新！2018年中国托福考试时间安排出炉啦</a>
                </td>
                <td>
                    <div class="table_mod border"><a>修改</a></div>
                    <div class="table_mod"><a>删除</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>介绍信息</h2>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
            <th>模块标题</th>
            <th>所属类别</th>
            <th class="action_col"><a ng-click="addIntro()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in introList track by $index">
                <td>
                    <a ng-click="getIntro(item)">{{item.title}}</a>
                </td>
                <td>{{item.category}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modIntro(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delIntro(item, pos)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="introList.length==0">
                <td class="no_data" colspan="3">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>