<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>专业管理
            <small>专业分类</small>
        </h2>
    </div>

    <!-- 筛选 -->
    <div>
        <div class="filter_div">
            <span class="filter_tip">国家: </span>
            <span class="filter_option" ng-repeat="fc in filterCountry" ng-click="filterClick(fc)"
                  ng-class="{active: selectedCoun==fc}">{{fc}}</span>
        </div>
    </div>


    <!-- 用户管理 -->
    <div>
        <table class="table table-hover">
            <thead>
            <th>国家</th>
            <th>大类</th>
            <th>专业</th>
            <th class="action_col"><a ng-click="addSp()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in spList track by $index">
                <td>{{item.country}}</td>
                <td>{{item.category}}</td>
                <td>{{item.subclassification}}</td>
                <td>
                    <div class="table_mod"><a ng-click="delSp(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="spList.length==0">
                <td colspan="4" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>