<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title">
        <h2>专业管理
            <small>信息管理</small>
        </h2>
    </div>

    <!-- 筛选 -->
    <div class="auto_width">
        <div class="filter_div">
            <span class="filter_tip">国家: </span>
            <span class="filter_option" ng-repeat="fc in filterCountry" ng-click="filterClick(0, fc)"
                  ng-class="{active: selectedCoun==fc}">{{fc}}</span>
        </div>
        <div class="filter_div">
            <span class="filter_tip">大类: </span>
            <span class="filter_option" ng-repeat="fe in filterEdu" ng-click="filterClick(1, fe)"
                  ng-class="{active: selectedEdu.id==fe.id}">{{fe.id}}</span>
        </div>
        <div class="filter_div">
            <span class="filter_tip">专业: </span>
            <span class="filter_option" ng-repeat="fs in filterSp" ng-click="filterClick(2, fs)"
                  ng-class="{active: selectedSp.id==fs.id}">{{fs.id}}</span>
        </div>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>专业详情和申请建议</h2>
    </div>

    <!-- 独家申请建议 -->
    <div style="margin-top: 30px;">
        <table class="table table-striped">
            <thead>
            <th>
                独家申请建议
                <a style="float: right" ng-click="editDetail()"><i class="fa fa-pencil"></i>修改</a>
            </th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="auto_td_div">
                        &nbsp;{{detailAdvice.applicationAdvice}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 专业详情 -->
    <div style="margin-top: -15px;">
        <table class="table table-striped">
            <thead>
            <th>
                专业详情
                <a ng-click="getDetail()" style="float: right;">
                    查看详情<i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="auto_td_div">
                        &nbsp;{{detailAdvice.detailSynopsis}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>专业课程</h2>
    </div>

    <!-- 专业课程 -->
    <div style="margin-top: 30px;">
        <table class="table table-hover">
            <thead>
            <th>专业方向</th>
            <th>相关课程</th>
            <th class="action_col"><a ng-click="addCourse()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in courseList track by $index">
                <td>{{item.majorField}}</td>
                <td>{{item.majorCourse}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modCourse(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delCourse(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="courseList.length==0">
                <td colspan="3" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>就业去向</h2>
    </div>

    <!-- 就业去向 -->
    <div style="margin-top: 30px;">
        <table class="table table-hover">
            <thead>
            <th>就业去向</th>
            <th>logo</th>
            <th class="action_col"><a ng-click="addWork()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in workList track by $index">
                <td>{{item.employmentCompany}}</td>
                <td>
                    <div class="work_logo">
                        <img ng-src="{{'upload/images/' + item.logo}}" alt="图片加载失败">
                    </div>
                </td>
                <td>
                    <div class="table_mod border"><a ng-click="modWork(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delWork(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="courseList.length==0">
                <td colspan="3" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>就业领域</h2>
    </div>

    <!-- 就业领域 -->
    <div style="margin-top: 30px;">
        <table class="table table-hover">
            <thead>
            <th>就业领域</th>
            <th class="action_col"><a ng-click="addField()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in fieldList track by $index">
                <td>{{item.post}}</td>
                <td>
                    <div class="table_mod"><a ng-click="delField(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="fieldList.length==0">
                <td colspan="2" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="h_title" style="margin-top: 50px;">
        <h2>薪资水平</h2>
    </div>

    <!-- 薪资水平 -->
    <div>
        <table class="table table-hover">
            <thead>
            <th>所属领域</th>
            <th>薪资水平</th>
            <th class="action_col"><a ng-click="addSalary()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in salaryList track by $index">
                <td>{{item.item}}</td>
                <td>{{item.salary}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modSalary(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delSalary(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="salaryList.length==0">
                <td colspan="3" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="h_title" style="margin-top: 50px;">
        <h2>申请条件</h2>
    </div>

    <!-- 申请条件 -->
    <div>
        <table class="table table-hover">
            <thead>
            <th>条件项</th>
            <th>申请建议</th>
            <th class="action_col"><a ng-click="addCon()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in conList track by $index">
                <td>{{item.item}}</td>
                <td>{{item.advice}}</td>
                <td>
                    <div class="table_mod border"><a ng-click="modCon(item, $index)">修改</a></div>
                    <div class="table_mod"><a ng-click="delCon(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="conList.length==0">
                <td colspan="3" class="no_data">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>