<!-- Created by L.H.S on 2017/11/14. -->

<div class="ui_view">

    <div class="message" ng-show="message!=''"
         ng-class="{'bg-success':message.type=='success', 'bg-danger': message.type=='danger'}">
        {{message.content}}
    </div>

    <div class="h_title"><h2>用户管理</h2></div>

    <!-- 用户登录信息 -->
    <div>
        <div class="portrait_div"><i class="fa fa-user-circle-o"></i></div>
        <div class="portrait_info_div">
            <div class="name">
                {{userInfo.username}}
                <button ng-click="changePwd()">修改密码</button>
            </div>
            <div>
                上次登录时间：<label>{{userInfo.lastLoginTime}}</label>
            </div>
            <div>
                上次登录位置：<label>{{userInfo.lastLoginAddress?userInfo.lastLoginAddress:'-'}}</label>
            </div>
        </div>
    </div>

    <!-- 用户管理 -->
    <div style="margin-top: 20px;">
        <table class="table table-hover">
            <thead>
            <th>用户管理</th>
            <th>上次登录时间</th>
            <th>上次登录IP</th>
            <th class="action_col"><a ng-click="addUser()"><i class="fa fa-plus"></i>添加</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="item in userList track by $index">
                <td>{{item.username}}</td>
                <td>{{item.lastLoginTime}}</td>
                <td>{{item.lastLoginAddress}}</td>
                <td>
                    <div class="table_mod"><a ng-click="deleteUser(item, $index)">删除</a></div>
                </td>
            </tr>
            <tr ng-if="userList.length==0">
                <td class="no_data" colspan="2">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 操作记录 -->
    <!--<div style="margin-top: 20px;">-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<th>操作记录</th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="temp in [0,1,2,3]">-->
                <!--<td>张三在首页管理中添加了某个顾问</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>