<!-- Created by L.H.S on 2017/10/18. -->

<!-- 轮播图 -->
<div class="carousel_div home_carousel">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.text}}</p>
                <button>在线咨询</button>
            </div>
        </div>
    </div>
</div>
<!-- 占位符（满屏采用absolute布局） -->
<div style="height: 600px;"></div>

<!-- 公司介绍 -->
<div class="main_body">
    <div class="about_title">
        公司介绍
        <hr>
    </div>

    <div class="center_brief">
        瑞泮将留学与互联网结合，剔除了传统机构因租金、市场、营销等成本费用庞大，导致学生的留学费用成倍增长，同等级别顾问，相比于传统机构，顺顺收费平均降低20%以上
        顺顺和顾问是合伙人制，顾问通过顺顺平台服务学生，收取的服务费用70%-100%回报给顾问，收获高于传统机构的20倍，顾问服务更优质，收费全部公开透明，杜绝隐形收费私自收费，一经发现顺顺将严厉处理
    </div>

    <div style="margin-top: 80px;">
        <div class="each_feature">
            <img src="/theme/img/feature-1.svg">
            <div class="feature_title">特点一</div>
            <div class="feature_info">
                瑞泮将留学与互联网结合，剔除了传统机构因租金、市场、营销等成本费用庞大，导致学生的留学费用成倍增长，同等级别顾问
            </div>
        </div>

        <div class="each_feature">
            <img src="/theme/img/feature-2.svg">
            <div class="feature_title">特点二</div>
            <div class="feature_info">
                瑞泮将留学与互联网结合，剔除了传统机构因租金、市场、营销等成本费用庞大，导致学生的留学费用成倍增长，同等级别顾问
            </div>
        </div>

        <div class="each_feature">
            <img src="/theme/img/feature-3.svg">
            <div class="feature_title">特点三</div>
            <div class="feature_info">
                瑞泮将留学与互联网结合，剔除了传统机构因租金、市场、营销等成本费用庞大，导致学生的留学费用成倍增长，同等级别顾问
            </div>
        </div>
    </div>

</div>

<!-- 专业顾问团队 -->
<div class="main_body team_div" style="margin-top: 80px;">
    <img class="flag_div" src="/theme/img/flag.svg">
    <div class="title">专业顾问团队</div>

    <div class="team_photo_div">
        <div class="each_photo_div" ng-repeat="temp in [0,1,2,3,4]">
            <div class="each_photo">
                <!--<img>-->
            </div>
            <div class="name">
                Marta Bevacqua
                <div>Paris, France</div>
            </div>
        </div>
    </div>
</div>

<!-- 顾问介绍 -->
<div class="carousel_div home_carousel consultant_div" style="top: 1600px;">
    <div class="title">您挑剔顾问？我们比您更挑剔</div>

    <div class="brief_consult">
        <div class="main_body">

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="/theme/img/cube.svg">
                </div>
                <div class="brief_info">
                    <div>2年我们收到<span class="blue">8000</span>多顾问的加入申请</div>
                    <div>以极低的通过率选拔我们顾问</div>
                </div>
            </div>

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="/theme/img/cube.svg">
                </div>
                <div class="brief_info">
                    <div>顾问平均从业<span class="blue">5</span>年以上</div>
                    <div>服务<span class="blue">200</span>名以上学生的资深顾问</div>
                </div>
            </div>

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="/theme/img/cube.svg">
                </div>
                <div class="brief_info">

                    <div>外教来自美国常春藤及前<span class="blue">30</span>名校</div>
                    <div>毕业的美籍咨询导师</div>
                </div>
            </div>

            <div class="con_each_brief">
                <div class="cube_img">
                    <img src="/theme/img/cube.svg">
                </div>
                <div class="brief_info">

                    <div>语培老师<span class="blue">5-15</span>年教龄</div>
                    <div><span class="blue">6000+</span>小时授课经历的</div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 占位符 -->
<div style="height: 520px;"></div>

<!-- 商务合作 -->
<div class="main_body team_div" style="margin-top: 30px;">
    <img class="flag_div" src="/theme/img/flag.svg">
    <div class="title">商务合作</div>

    <div class="cooper_business_info">
        <p>成功服务过国内外<span class="blue">300+</span>所高校，</p>
        <p>国内知名企业服务商，</p>
        <p>搭建国际教育服务平台</p>
    </div>
</div>

<div class="main_body">
    <!-- 合作伙伴代表 -->
    <div class="cooper_business_title">合作伙伴代表</div>
    <div>
        <div class="each_present" ng-repeat="temp in [0,1,2,3,4,5,6]"></div>
    </div>
</div>

<!-- 联系我们 -->
<div class="main_body" style="margin-top: 120px;">
    <div class="about_title">
        联系我们
        <hr>
    </div>

    <div class="contact_info">
        <p>希望了解更多我们的服务，请联系我们，</p>
        <p>我们将为您提供热忱的服务</p>
    </div>

    <div class="row" style="margin-top: 70px;">
        <div class="col-md-7" style="padding-right: 35px;">
            <div class="each_input">
                <input type="text" placeholder="您的姓名">
            </div>
            <div class="each_input">
                <input type="text" placeholder="您的邮箱">
            </div>
            <div class="each_input">
                <input type="text" placeholder="您的电话">
            </div>
            <div class="each_input" style="height: 120px;">
                <textarea placeholder="内容" style="height: 120px;"></textarea>
            </div>
        </div>

        <div class="col-md-5" style="padding-left: 35px;">
            <div class="connect_way_div">
                <div class="title">联系方式</div>
                <div class="each_con">
                    <div class="connector_part">
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </div>
                    <div class="connector_part">
                        <div>北京市</div>
                        <div>朝阳区</div>
                        <div>一二路6号商务楼507室</div>
                    </div>
                </div>

                <div class="each_con">
                    <div class="connector_part">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </div>
                    <div class="connector_part">
                        +62 202 555 0117
                    </div>
                </div>

                <div class="each_con">
                    <div class="connector_part">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <div class="connector_part">
                        ruipan@163.com
                    </div>
                </div>

                <div class="each_con">
                    <div class="connector_part">
                        <i class="fa fa-qq"></i>
                    </div>
                    <div class="connector_part">
                        12345678
                    </div>
                </div>

                <div class="each_con">
                    <div class="connector_part">
                        <i class="fa fa-wechat"></i>
                    </div>
                    <div class="connector_part">
                        ruipanliuxue
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="contact_btn">联系我们</button>

</div>