<!-- Created by L.H.S on 2017/8/14. -->

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">A menu</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
        <ul class="nav navbar-nav">
            <li ng-repeat="na in navList">
                <a ui-sref="{{na.state}}" ng-class="{active: isActived(na.state)}">{{na.text}}</a>
            </li>
        </ul>
    </div>
</nav>