<!-- Created by L.H.S on 2017/8/14. -->

<!-- 顶部导航栏 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <img src="/theme/img/logo.svg" alt="瑞泮国际教育">
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="na in navList track by $index" class="dropdown hover_show">
                <a ng-click="navListLink(na)" ng-class="{active: isActived(na.state)}">{{na.text}}</a>

                <ul ng-if="na.children!=null" class="dropdown-menu">
                    <li ng-repeat="child in na.children track by $index" class="dropdown">
                        <a ng-click="navListLink(na, child.country, $index, child.type)">
                            <img ng-if="child.country" ng-src="{{'/theme/img/' + child.country + '.svg'}}" alt="留学">
                            {{child.text}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- 背景提升等隐藏以下部分 -->

<div ng-show="!(currentState=='promotion' || currentState=='language' || currentState=='cooperation' || currentState=='home' || currentState=='about' || currentState=='promotionDetail')">

    <!-- 中间插图 -->
    <div class="top_bg">
        <img src="/theme/source/school-detail-bg.png">
    </div>

    <!-- 二级导航栏 -->
    <div class="menu_second">
        <div class="nav_second">

            <!-- 下拉筛选框 -->
            <div class="nav_combox">
                <!-- 国家下拉框 -->
                <img ng-if="combox.length>0&&selectedComb.country"
                     ng-src="{{'/theme/img/' + selectedComb.country + '.svg'}}" alt="留学">
                <!-- 无下拉框，显示logo图标 -->
                <img ng-show="combox.length==0" src="/theme/img/alt-img.svg" alt="瑞泮国际"
                     style="width: 100%; height: 70px;">

                <!-- 下拉框 -->
                <div uib-dropdown on-toggle="toggled(open)" id="simple-dropdown" uib-dropdown-toggle class="comb_val">
                <span ng-show="combox.length>0">
                    {{selectedComb.text}} <i class="glyphicon glyphicon-menu-down"></i>
                </span>

                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="op in combox" class="dropdown">
                            <a ng-click="combSelect(op)">
                                <img ng-if="op.country" ng-src="{{'/theme/img/' + op.country + '.svg'}}" alt="留学">
                                {{op.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 二级导航主体 -->
            <ul class="nav navbar-nav">
                <li ng-repeat="nc in navChild track by $index" class="dropdown hover_show">
                    <a ng-class="{active: nc.state===currentState || (nc.assist.split('\.')[0]===currentAssist.split('\.')[0]&&nc.assist!=null)}"
                       ng-click="navChildLink(nc)">{{nc.text}}</a>

                    <ul ng-if="nc.children!=null" class="dropdown-menu">
                        <li ng-repeat="child in nc.children" class="dropdown">
                            <a ng-click="navChildLink(child)">
                                {{child.text}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

</div>

<!-- 联系我们 -->
<div class="online_service">
    <div class="each_online">
        <a target="_blank"
           href="http://sighttp.qq.com/authd?IDKEY=0775616285188715fe17f92fe836f35407de69d5d970c86d">
            <i class="fa fa-qq fa-2x"></i>
        </a>
    </div>
    <div class="each_online wechat_div">
        <i class="fa fa-wechat fa-2x"></i>
        <!-- 二维码 -->
        <div class="qrcode_div">
            <img ng-src="{{'/upload/images/'+contactInfo.qrcode.value}}"  alt="二维码加载失败">
        </div>
    </div>
    <div class="each_online phone_div" >
        <i class="fa fa-phone fa-2x"></i>
        <div class="phone_number_div">
            {{contactInfo.phoneNumber.value}}
        </div>
    </div>

</div>