<!-- Created by L.H.S on 2017/8/14. -->

<!-- 顶部导航栏 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <img src="/theme/img/logo.svg" alt="瑞泮国际教育">
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="na in navList track by $index" class="dropdown hover_show">
                <a ng-click="navListLink(na)" ng-class="{active: isActived(na.state)}">{{na.text}}</a>

                <ul ng-if="na.children!=null" class="dropdown-menu">
                    <li ng-repeat="child in na.children track by $index" class="dropdown">
                        <a ng-click="navListLink(na, child.country, $index)">
                            <img ng-if="child.country" ng-src="{{'/theme/img/' + child.country + '.svg'}}" alt="留学">
                            {{child.text}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- 中间插图 -->
<div class="top_bg"></div>

<!-- 二级导航栏 -->
<div class="menu_second">
    <div class="nav_second">

        <!-- 下拉筛选框 -->
        <div class="nav_combox">
            <img ng-if="combox.length>0&&selectedComb.country"
                 ng-src="{{'/theme/img/' + selectedComb.country + '.svg'}}" alt="留学">
            <img ng-show="combox.length==0" src="/theme/img/alt-img.svg" alt="瑞泮国际"
                 style="width: 100%; height: 70px;">

            <div uib-dropdown on-toggle="toggled(open)" id="simple-dropdown" uib-dropdown-toggle class="comb_val">
                <span ng-show="combox.length>0">
                    {{selectedComb.text}} <i class="glyphicon glyphicon-menu-down"></i>
                </span>

                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li ng-repeat="op in combox" class="dropdown">
                        <a ng-click="combSelect(op)">
                            <img ng-if="op.country" ng-src="{{'/theme/img/' + op.country + '.svg'}}" alt="留学">
                            {{op.text}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 二级导航主体 -->
        <ul class="nav navbar-nav">
            <li ng-repeat="nc in navChild track by $index" class="dropdown hover_show">
                <a ng-class="{active: nc.state===currentState}" ng-click="navChildLink(nc)">{{nc.text}}</a>

                <ul ng-if="nc.children!=null" class="dropdown-menu">
                    <li ng-repeat="child in nc.children" class="dropdown">
                        <a>
                            {{child.text}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>

