<!-- Created by L.H.S on 2017/11/11. -->

<div class="language_ad_div" style="height: 300px;">
    <img style="height: 300px;" src="/theme/source/promotion-detail.png">
</div>
<!-- 占位符（满屏采用absolute布局） -->
<div style="height: 300px;"></div>


<!-- 左边导航 -->
<div class="left_part">

    <div class="ad_div">
        <img src="/theme/source/intro-ad-1.png" alt="顾问方案">
    </div>

    <div class="ad_div">
        <img src="/theme/source/intro-ad-2.png" alt="总监专案">
    </div>

    <!-- 案例推荐 -->
    <div class="board_title" style="width: 240px;">
        <span class="title_text" style="width: 110px;">项目推荐</span>
        <hr style="width: 110px">
    </div>

    <div>
        <div class="each_ex" ng-repeat="ex in [0,1,2,3] track by $index">
            <div class="ex_order">{{$index+1}}</div>
            <div class="ex_info">出色文书呈现学生的优秀巴拉巴拉巴拉</div>
        </div>
    </div>

</div>

<div class="right_part">
    <!-- 路径导航 -->
    <div>
        <ol class="breadcrumb">
            <li><a href="/#/home">首页</a></li>
            <li><a href="/#/promotion">背景提升</a></li>
            <li>【{{proTitle}}】</li>
        </ol>
    </div>

    <!-- 项目详情 -->
    <div class="article_title">
        【耶鲁大学暑期项目】 体验名校课堂获取教授推荐信
    </div>

    <hr class="article_hr">

    <div class="article">
        <p>项目背景</p>
        <p></p>
        <p>耶鲁大学成立于1701年，是美国东北部老牌名校“常青藤联盟”八大成员之一。每年夏天，耶鲁大学暑期班给来自耶鲁和世界各地的大学生提供一个严谨而又创新的学术课程。学生不仅可以在纽黑文上耶鲁的课程，也可以上英语语言课程，还可以听听耶鲁教授的讲座，参加戏剧项目等。>>预约报名参加夏令营</p>
        <p></p>
        <p>美世 耶鲁大学 夏令营</p>
        <p></p>
        <p>项目时间</p>
        <p></p>
        <p>1期：5.29-6.30</p>
        <p></p>
        <p>2期：7.3-8.4</p>
        <p></p>
        <p>项目地点：美国康涅狄格州纽黑文</p>
        <p></p>
        <p>招生群体：大学生</p>
        <p></p>
        <p>相关专业：专业不限</p>
        <p></p>
        <p>项目亮点>>预约报名参加夏令营</p>
        <p></p>
        <p>1、收获课程学分。</p>
        <p></p>
        <p>2、表现优秀的学生有机会获得教授的推荐信。</p>
        <p></p>
        <p>3、将有机会参观美国其他名校，如哈佛、普林斯顿、麻省等，并与招生官会面。</p>
        <p></p>
        <p>4、参观美国文化历史名城，游览博物馆，参观地标建筑，发现新景观。</p>
        <p></p>
        <p>5、通过接触美国本土教职工和学生深入了解美国文化。</p>
        <p></p>
        <p>6、通过参加文化活动，提升英语水平，结交来自世界各地的朋友。</p>
    </div>

</div>
