<!-- Created by L.H.S on 2017/10/18. -->

<!-- 硬性条件 -->
<div class="board">
    <!-- title -->
    <div class="board_title">
        <img class="list_icon" src="theme/img/abroad-icon-1.svg" alt="要求">
        <span class="title_text">
            硬性条件要求
        </span>
        <hr>
    </div>

    <!-- body -->
    <div class="border_body">

        <div class="condition_block" ng-repeat="item in condition">
            <div class="condition_title">
                {{item.title}}
            </div>

            <div ng-repeat="(key, val) in item.content" class="score_condition">
                <label>{{val.subject}}成绩要求：</label>
                <span>{{val.score}}</span>
            </div>

        </div>

    </div>
</div>

<!-- 申请方案 -->
<div class="board">
    <!-- title -->
    <div class="board_title orange">
        <img class="list_icon" src="theme/img/abroad-icon-2.svg" alt="方案">
        <span class="title_text">
            {{stType}}申请方案
        </span>
        <hr>
    </div>

    <!-- body -->
    <div class="border_body program_div">
        <div class="each_program" ng-repeat="(title, arr) in programs track by $index"
             ng-class="{no_border: $index%4==3}">
            <div class="title">{{title}}</div>
            <div ng-repeat="item in arr track by $index" class="program" ng-click="getMethodDetail(item)">
                方案{{numberLabel[$index]}}：{{item.title}}
            </div>
        </div>
    </div>
</div>

<!-- 申请要素 -->
<div class="board">
    <!-- title -->
    <div class="board_title pink">
        <img class="list_icon" src="theme/img/abroad-icon-3.svg" alt="要素">
        <span class="title_text">
            {{stType}}申请要素
        </span>
        <hr>
    </div>

    <!-- body -->
    <div class="border_body factor_body">
        <div class="factor_tab_container">
            <div class="factor_tab" ng-repeat="tab in factorTab track by $index"
                 ng-class="{no_border: $index==3, active: tab.show}" ng-click="changeTab(tab)">
                {{tab.title}}
            </div>
        </div>

        <!-- 申请基本条件要求 -->
        <div ng-show="factorTab[0].show" class="tab_body">
            <div ng-bind-html="factorTab[0].synopsis"></div>
        </div>

        <!-- 申请材料 -->
        <div ng-show="factorTab[1].show" class="tab_body">
            <div ng-bind-html="factorTab[1].synopsis"></div>
        </div>

        <!-- 选校因素 -->
        <div ng-show="factorTab[2].show" class="tab_body">
            <div ng-bind-html="factorTab[2].synopsis"></div>
        </div>

        <!-- 所需费用 -->
        <div ng-show="factorTab[3].show" class="tab_body">
            <div ng-bind-html="factorTab[3].synopsis"></div>
        </div>

        <!-- 评估按钮 -->
        <button>评估我的条件</button>
    </div>
</div>

<!-- 免费咨询 -->
<div class="board">
    <!-- title -->
    <div class="board_title yellow">
        <img class="list_icon" src="theme/img/abroad-icon-4.svg" alt="咨询">
        <span class="title_text" style="width: 500px;">
            尊享顾问一对一免费咨询
        </span>
    </div>

    <!-- body -->
    <div class="border_body">
        <div>
            <div class="each_consult" ng-repeat="con in consultants">
                <img ng-src="{{'upload/images/' + con.headSculpture}}" alt="图片加载失败">
                <div class="consult_info">
                    <div class="name">{{con.name}}</div>
                    <div class="special_div">{{con.profession}}</div>
                </div>
                <div class="consult_info hover_part">
                    【{{con.synopsis}}】
                </div>
                <div class="consult_info hover_part_1"></div>
            </div>
        </div>
    </div>
</div>

<!-- 问答 -->
<div class="board">
    <!-- title -->
    <div class="board_title blue">
        <img class="list_icon" src="theme/img/abroad-icon-5.svg" alt="问答">
        <span class="title_text" style="width: 500px;">
            留{{couType}}常见问答
        </span>
    </div>

    <!-- body -->
    <div class="border_body">
        <!-- 问答 -->
        <div class="row">
            <div class="col-md-6">
                <div class="each_answer" ng-repeat="an in problems_l track by $index">
                    <div>{{$index + 1}}.{{an.question}}</div>
                    <div class="problem_answer" ng-class="{expanded: an.expanded}">
                        答：{{an.answer}}
                    </div>
                    <div class="expand_btn" ng-show="an.answer.length>32" ng-click="expandClick(an)">
                        <a class="blue">{{an.expanded ? "收起" : "展开"}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="each_answer" ng-repeat="an in problems_r track by $index">
                    <div>{{$index + problems_l.length +1 }}.{{an.question}}</div>
                    <div class="problem_answer" ng-class="{expanded: an.expanded}">
                        答：{{an.answer}}
                    </div>
                    <div class="expand_btn" ng-show="an.answer.length>32" ng-click="expandClick(an)">
                        <a class="blue">{{an.expanded ? "收起" : "展开"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>