<!-- Created by L.H.S on 2017/11/13. -->

<div class="login_div">
    <div class="login_input">
        <img src="theme/img/logo.svg">
    </div>
    <div class="login_input">
        <label>用户名:</label>
        <input ng-model="user.username" type="text">
    </div>
    <div class="login_input">
        <label>密&nbsp;&nbsp;码:</label>
        <input ng-model="user.password" type="password">
    </div>

    <div class="login_input">
        <button ng-click="login()">登录</button>
    </div>

    <div class="login_error">
        {{errorTip}}
    </div>
</div>