<!-- Created by L.H.S on 2017/11/16. -->

<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{title}}</h3>
</div>

<div class="modal-body" id="modal-body">

    <div class="login_input" ng-repeat="item in fields">
        <div ng-if="item.type!='combox'&&item.type!='img'&&item.type!='textarea'">
            <label>{{item.label}}: </label>
            <input type="{{item.type==null?'text':item.type}}" ng-model="model[item.id]"
                   placeholder="{{item.placeholder}}" ng-disabled="item.readonly">
            <span ng-if="item.type=='checkbox'">{{model[item.id]==true?'是':'否'}}</span>
        </div>

        <div class="btn-group combox" ng-if="item.type=='combox'">
            <label>{{item.label}}: </label>
            <div uib-dropdown class="inner_combox">
                <button id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle>
                    {{model[item.id]}} <span class="fa fa-caret-down"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="btn-append-to-body">
                    <li ng-repeat="op in item.options" ng-click="comboxSelect(op, item.id)">
                        <a>{{op}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-if="item.type=='img'">
            <label>{{item.label}}: </label>
            <a class="a_upload"  href="javascript:;">
                <input type="file" accept="image/png,image/svg,image/jpg,image/jpeg">选择文件
            </a>
        </div>

        <div ng-if="item.type=='textarea'">
            <label>{{item.label}}: </label>
            <textarea ng-model="model[item.id]"></textarea>
        </div>
    </div>

</div>

<div class="modal-footer">
    <div ng-show="modalMess" class="bg-danger modal_message">{{modalMess}}</div>
    <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>