<!-- Created by L.H.S on 2017/11/4. -->

<div class="language_ad_div" style="top: 279px;">
    <img src="/theme/source/rank-detail.png">
</div>
<div style="height: 200px;"></div>

<!-- 顶部英文+logo -->
<div class="detail_top_info">
    Harvard College，86 Brattle Street，Cambridge, MA 02138
    <div class="detail_school_logo">
        <img src="/theme/source/Harvard-logo.png">
    </div>
</div>

<!-- 主题部分，左右分栏 -->
<div style="margin-top: 50px;">

    <div class="left_part">
        <div class="detail_school_name">
            哈佛大学
        </div>
        <div class="detail_school_brief">
            哈佛大学是全美最古老的大学，人曰先有哈佛后有美利坚，先后诞生了七位美国总统，四十位诺贝尔奖得主和三十位普利策奖得主
        </div>
        <div class="location_div">
            <i class="glyphicon glyphicon-map-marker"></i>
            美国马萨诸塞州剑桥市
        </div>
        <div class="location_div">
            <i class="glyphicon glyphicon-link"></i>
            <a href="https://www.harvard.edu">https://www.harvard.edu</a>
        </div>
        <div class="location_div">
            <i class="glyphicon glyphicon-camera"></i>
            <a href="https://www.harvard.edu">校园图片</a>
            <div>
                <div class="school_photo" ng-repeat="img in schoolImg">
                    <img ng-src="{{img}}">
                </div>
            </div>
        </div>
    </div>

    <div class="right_part">

        <div class="border_body card" style="padding: 0 0">
            <!-- 页签 -->
            <div class="factor_tab_container blue" style="width: 820px;">
                <div class="factor_tab tab_3" ng-repeat="tab in tabs track by $index"
                     ng-class="{no_border: $index==2, active: tab.show}" ng-click="changeTab(tab)">
                    {{tab.title}}
                </div>
            </div>

            <!-- 院校介绍 -->
            <div class="detail_info" ng-show="tabs[0].show">
                <p>哈佛大学是一所私立的高等学校。建于1636年，比美国作为独立国家的建立几乎要早一个半世纪。当年，移居美洲的英国清教徒，为其子孙后代的幸福，仿效当时剑桥大学的模式，在马萨诸塞州的查尔斯河畔，建立了这所美国历史上的第一所高等学校，始称剑桥学院。逐渐兴起的小镇，从此亦称剑桥，中文译音称坎布里奇。1639年，学校更名为哈佛学院，目的是为了永久纪念学校创办人之一和办学经费的主要捐献者、英国剑桥大学伊曼纽尔学院文学硕士约翰•哈佛。1780年，哈佛学院被马萨诸塞州议会破格升为哈佛大学，此名一直沿用至今，常被简称哈佛。哈佛大学是长春藤盟校的八名成员之首。 哈佛大学拥有众多学术机构，并培养了不少著名人士，为全美最难入读的学府之一。该校目前共有十所学院及一所高等研究院，这些单位偏布邻近各区：其本部位于剑桥；公共卫生、口腔医学及医学院位于波士顿的长木医学区；而体育设施以及商学院则在奥尔斯顿。此校校友涵盖8名美国总统；其亦培养了62名富豪企业家及335位罗德奖学金得主，人数均为全美最多。另外，也有151名诺贝尔得奖者现在或曾经在哈佛学习或工作。校内图书馆藏书超过1600万册，为全美学术图书馆之冠。</p>

                <p>哈佛大学是全美最古老的大学，人曰先有哈佛后有美利坚，先后诞生了七位美国总统，四十位诺贝尔奖得主和三十位普利策奖得主。学校以培养研究生和从事科学研究为主的综合性大学，是常春藤联盟三巨头之一，规模庞大，资产众多，拥有世界一流的教学设施、师资和学生，被人称为哈佛帝国。</p>

                <p>哈佛商学院是如今美国乃至全世界最大、最富、最有名望，也最具权威的管理学校。这里是商业人才培育的圣地，被称作商人、主管、总经理的西点军校，美国许多大企业家和政治家都曾在此学习；在美国500家最大公司里担任最高职位的经理中，有1/5毕业于这所学院。哈佛工商管理硕士学位是权力与金钱的象征，也是许多美国青年梦寐以求的学位。</p>

                <p>哈佛大学拥有美国最大的学术图书馆，规模为全球第五。哈佛大学图书馆的中央系统位于哈佛庭院的怀德纳图书馆内，整个系统覆盖80所不同的图书馆，整体馆藏量超过1600万册，使其成为全美最大的学术图书馆网络。哈佛大学数据库搜罗了各种珍贵的书籍及手抄搞；美国一些最古老的地图、地名册等能在哈佛的蒲赛图书馆内找到；而哈佛燕京图书馆内则保管与东亚古老语言相涉的文献。</p>

                <p>哈佛大学计算生物学与量化遗传学硕士项目归属于公共卫生学院，是应生物医学领域的大数据潮流而生的一个新兴项目。课程主要涵盖量化分析方法、计算机编程和基本的生物学知识，主要由来自于王牌专业的生物统计学和生物信息学教授执教。</p>

                <p>课程设置紧凑而丰富，学生不仅需要达到课程学分的要求，还会被要求在哈佛或哈佛附属医院的教授的指导下完成一项科研项目。整体来讲，对于毕业后选择继续求学还是直接就业的学生，该项目都具有无与伦比的吸引力，也必然会引来众多国内外优秀学子的激烈角逐。</p>
            </div>

            <!-- 录取要求 -->
            <div class="detail_info" ng-show="tabs[1].show">
                <p>录取要求</p>
            </div>

            <!-- 录取榜 -->
            <div class="detail_info" ng-show="tabs[2].show">
                <p>录取榜</p>
            </div>
        </div>

    </div>

</div>