<!-- Created by L.H.S on 2017/11/4. -->

<div class="language_ad_div" style="top: 279px;">
    <img src="theme/source/rank-detail.png">
</div>
<div style="height: 200px;"></div>

<!-- 顶部英文+logo -->
<div class="detail_top_info">

    <!-- 路径导航 -->
    <div style="margin-left: 210px;position: relative;top: -9px;">
        <ol class="breadcrumb">
            <li><a href="/#/home">首页</a></li>
            <li><a href="/#/rank/america">院校排名</a></li>
            <li>【{{schoolObj.collegeName}}】</li>
        </ol>
    </div>

    <div class="detail_school_logo">
        <img ng-src="{{'upload/images/' + schoolObj.schoolBadge}}" alt="图片加载失败">
    </div>
</div>

<!-- 主题部分，左右分栏 -->
<div style="margin-top: 50px;">

    <div class="left_part">
        <div class="detail_school_name">
            {{schoolObj.collegeName}}
        </div>
        <div class="detail_school_brief">
            {{schoolObj.synopsis}}
        </div>
        <div class="location_div">
            <i class="glyphicon glyphicon-map-marker"></i>
            {{schoolObj.address}}
        </div>
        <div class="location_div">
            <i class="glyphicon glyphicon-link"></i>
            <a ng-href="{{schoolObj.officialWebsite}}">{{schoolObj.officialWebsite}}</a>
        </div>
        <div class="location_div">
            <i class="glyphicon glyphicon-camera"></i>
            <a href="https://www.harvard.edu">校园图片</a>
            <div>
                <div class="school_photo" ng-repeat="img in schoolImg">
                    <img ng-src="{{img}}">
                </div>
            </div>
        </div>
    </div>

    <div class="right_part">

        <div class="border_body card" style="padding: 0 0">
            <!-- 页签 -->
            <div class="factor_tab_container blue" style="width: 820px;">
                <div class="factor_tab tab_3" ng-repeat="tab in tabs track by $index"
                     ng-class="{no_border: $index==2, active: tab.show}" ng-click="changeTab(tab)">
                    {{tab.title}}
                </div>
            </div>

            <!-- 院校介绍 -->
            <div class="detail_info" ng-show="tabs[0].show">
                <div ng-bind-html="schoolObj.content"></div>
            </div>

            <!-- 录取要求 -->
            <div class="detail_info" ng-show="tabs[1].show">
                <p>录取要求</p>
            </div>

            <!-- 录取榜 -->
            <div class="detail_info" ng-show="tabs[2].show">
                <p>录取榜</p>
            </div>
        </div>

    </div>

</div>